[submodule "lmgo"]
	path = lmgo
	url = ellem.so:/home/products/d-lmgo/lmgo.git/
[submodule "vorlage-interface/golang/vorlageproc"]
	path = vorlage-interface/golang/vorlageproc
	url = ellem.so:/home/products/d-vorlage/vorlageproc.git
