Package: doccomp
Version: 0.0.0-deb10
Maintainer: "Kevin Marschke" <kmarschke@ellem.ai>
Description: Making a website? Use document compiler.
Section: misc
Priority: optional
Architecture: amd64
Homepage: https://www.ellem.ai/document-compiler/
Depends: libc6
Build-Depends: make, go (>=1.12)
