#prepend moredefines.haml
#define $(Fuckme) @@@
123$(Fuckme)1234
* Paperless
Ellem is paperless. Documents that exist only in paper format cannot
be official or binding. All documents must exist solely in computer
storage, or, if a document is provided as a paper format it must be
scanned in and sorted into the proper location.

* Colors and fonts
** Creative Directory

The creative directory (~$LMCREATIVEDIR~) will be
~$LMDIR/creative~. It will be managed by R&D Supervisor Creative
Director.

** Design policies

Specified herein are requirements and standards for anything regarding
visual design at Ellem. These ensure we are under the same flag, same
colors, same font, ect.

** Document Types
The main documentation editing program for all operations will be
Libreoffice, the newest version. This is because of it's respect to
the libreware world and also it's free and available on all
platforms. Furthermore it provides better functionality than
Microsoft Office and Google Docs.
*** Pre-made templates

Pre made templates can be found in ~$LMCREATIVEDIR/templates~
that follow this specification

** Font

Depending on the application of the text, the font varies as
specified below:

| Purpose                   | Font             | Fallback   |
|---------------------------+------------------+------------|
| Legal Documents           | DejaVu Sans Mono | Mono       |
| Formal External Documents | DejaVu Serif     | Serif      |
| External Websites         | Raleway Light    | Sans-Serif |
| Flow Charts               | DejaVu Sans Mono | Mono       |

All fonts listed above can be found in otf format in
~$LMCREATIVEDIR/fonts~

** Ellem Colors

The colors of ellem do not vary nor deter from the two main colors
shown below:

| Color       | Hex       | RGB         | CMYK            |
|-------------+-----------+-------------+-----------------|
| Ellem Green | *#009900* | 0,153,0     | 100%,0,100%,40% |
| Ellem Gray  | *#919191* | 145,145,145 | 0,0,0,43%       |

Logos may also use black (#000000) and white (#ffffff) but these are
not characterized as "identifiable colors".

Transparent gradients are allow to be applied to Ellem's
Colors. Gradients that transverse from color to color are not.

Ellem Gray may have non-transparent gradient applied only if the
colors provided are only shades (black, gray, white). This is to show
that the gray is more of a silver at some times. There's silver lining
to this company.

** Logos

All approved logos of Ellem Laboratories can be found in
~$LMCREATIVEDIR/logos~. Logos must be stored in here in SVG
format. Additional formats can be provided but must have respective
extensions (ie, ".png", ".jpeg", ect)

** "Logic Lines" & "Love Lines"

Two motifs that will be applied to all Ellem Graphics are "Logic
Lines" and "Love Lines". These lines must be an official Ellem color.

Logic lines mimic the lines seen on PCB circuit boards.

A Love Line is a series of are cubic functions that share a start and
point but approximately share the same curve

*** Examples $(Fuckme)

Both of these types of lines appear on the "orbit" logo. The green
orbiting lines are known as "love" and the strait (sometimes angled)
lines are regarded as "logic". The color of either type of line is
interchangeable.

If we look at the "woosh" logo we can see an exclusively use of "love
lines".
